<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>ece356.LoginFilter</filter-class>
    </filter>
    <filter>
        <filter-name>DoctorLoginFilter</filter-name>
        <filter-class>ece356.DoctorLoginFilter</filter-class>
    </filter>
    <filter>
        <filter-name>CommonFilter</filter-name>
        <filter-class>ece356.CommonFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CommonFilter</filter-name>
        <url-pattern>/doctorProfile.jsp</url-pattern>
        <url-pattern>/viewReviewPage.jsp</url-pattern>
        <url-pattern>/GetDoctorProfileServlet</url-pattern>
        <url-pattern>/FlipToNextReviewServlet</url-pattern>
        <url-pattern>/FlipToPreviousReviewServlet</url-pattern>
        <url-pattern>/ViewReviewByIDServlet</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DoctorLoginFilter</filter-name>
        <url-pattern>/doctorHome.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/patientHome.jsp</url-pattern>
        <url-pattern>/doctorSearch.jsp</url-pattern>
        <url-pattern>/doctorSearchResult.jsp</url-pattern>
        <url-pattern>/friendship.jsp</url-pattern>
        <url-pattern>/patientSearch.jsp</url-pattern>
        <url-pattern>/patientSearchResult.jsp</url-pattern>
        <url-pattern>/writeReview.jsp</url-pattern>
        <url-pattern>/AddFriendServlet</url-pattern>
        <url-pattern>/DoctorSearchServlet</url-pattern>
        <url-pattern>/FriendListServlet</url-pattern>
        <url-pattern>/PatientSearchServlet</url-pattern>
        <url-pattern>/WriteDoctorReviewServlet</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>ece356.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOut</servlet-name>
        <servlet-class>ece356.LogOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>ece356.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PatientSearchServlet</servlet-name>
        <servlet-class>ece356.PatientSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetDoctorProfileServlet</servlet-name>
        <servlet-class>ece356.GetDoctorProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorSearchServlet</servlet-name>
        <servlet-class>ece356.DoctorSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FriendListServlet</servlet-name>
        <servlet-class>ece356.FriendListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewReviewByIDServlet</servlet-name>
        <servlet-class>ece356.ViewReviewByIDServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FlipToNextReviewServlet</servlet-name>
        <servlet-class>ece356.FlipToNextReviewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FlipToPreviousReviewServlet</servlet-name>
        <servlet-class>ece356.FlipToPreviousReviewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WriteDoctorReviewServlet</servlet-name>
        <servlet-class>ece356.WriteDoctorReviewServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOut</servlet-name>
        <url-pattern>/LogOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PatientSearchServlet</servlet-name>
        <url-pattern>/PatientSearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetDoctorProfileServlet</servlet-name>
        <url-pattern>/GetDoctorProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorSearchServlet</servlet-name>
        <url-pattern>/DoctorSearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FriendListServlet</servlet-name>
        <url-pattern>/FriendListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewReviewByIDServlet</servlet-name>
        <url-pattern>/ViewReviewByIDServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FlipToNextReviewServlet</servlet-name>
        <url-pattern>/FlipToNextReviewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FlipToPreviousReviewServlet</servlet-name>
        <url-pattern>/FlipToPreviousReviewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WriteDoctorReviewServlet</servlet-name>
        <url-pattern>/WriteDoctorReviewServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <resource-ref>
        <description>MySQL connection pool</description>
        <res-ref-name> myDatasource </res-ref-name>
        <res-type>javax.sql.ConnectionPoolDataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
